DB_USERNAME=DB_USERNAME
DB_PASSWORD=DB_PASSWORD
POSTGRES_DB=POSTGRES_DB

MINIO_ACCESS_KEY=MINIO_ACCESS_KEY
MINIO_SECRET_KEY=MINIO_SECRET_KEY
MINIO_ENDPOINT=MINIO_ENDPOINT
MINIO_BUCKET=MINIO_BUCKET

APP_ADMIN_NAME=APP_ADMIN_NAME
APP_ADMIN_PASSWORD=APP_ADMIN_PASSWORD